body {
    background-image: url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg);
    background-size: cover;
    margin: 0;
    font-family: Arial, sans-serif;
}


div {
    display: flex;
    justify-content: center;
    width: 100%;
}


.name {
    font-size: 32px;
    font-weight: bold;
    color: yellow;
    text-align: center;
    margin-bottom: 20px;
}


.add {
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(76, 150, 76);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.add:hover {
    background-color: rgb(56, 120, 56);
}


.list {
    font-size: 20px;
    font-weight: bold;
    width: 400px;
    max-height: 600px;
    color: rgb(7, 7, 7);
    text-align: left;
    background-color: aliceblue;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    overflow-y: auto;
}


li {
    list-style-type: none;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}


i {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: red;
    margin-left: 10px;
}

i:hover {
    color: rgb(221, 255, 0);
}


.delete-button {
    background: none;
    border: none;
    color: aliceblue;
    cursor: pointer;
}


.edit{
    background: none;
    border: none;
    color: aliceblue;
    cursor: pointer;
}
.done-button{
    background: none;
    border: none;
    color: aliceblue;
    cursor: pointer;
}
.donetask{
    text-decoration: line-through;
    color: red;
}

